<div class="container">
    <div class="aditional-info">Información Adicional: </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="avatar" [src]="response.data.avatar">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 background">
            <div class="header"><span class="titles">Nombre: </span> {{response.data.first_name}} {{response.data.last_name}}</div>
            <div class="header"><span class="titles">Email: </span> {{response.data.email}}</div>
            <div class="header"><span class="titles">Info: </span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>